@use "../../sass/index" as *;

.cart-status {
  display: flex;
  gap: 0.5em;
  width: min-content;
  margin-left: auto;
  margin-block-end: 0.5em;
}

.cart-status__cart {
  min-width: 4em;
  text-align: center;
  background-color: $accent-clr;
}

.cart-status__wishlist {
  min-width: 4em;
  background-color: $primary-clr-3;
  // color: invert($color: $font-clr);
  padding-inline: 0.5em;
  font-size: $font-xxs;
  text-align: center;
}

.cart-status__cart,
.cart-status__wishlist {
  border-radius: $border-radius-1;
}

.cart-icon {
  translate: 0 4px;
}

@media (max-width: 740px) {
  .cart-status {
    flex-direction: column;
    justify-content: space-between;
    gap: revert;
    margin-block-end: revert;
    width: revert;
  }
}
