@use "../../sass/index" as *;

.search {
  position: relative;
  background: $primary-clr;
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  color: $font-clr;
  width: 100%;
  z-index: 1;
  &:hover,
  &:focus {
    outline: red;
    border: 1px solid red;
  }
}

.search-container {
  display: flex;
  align-self: center;
  gap: 0.2em;
}

.search-input {
  background: transparent;
  border: none;
  color: $font-clr;
  width: 100%;
  padding-inline: 0.2em;
  &:focus {
    outline: none;
  }
}

.search-icon {
  translate: 0 2px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.search__input__sub-btn {
  background: none;
  border: none;
}

.search__suggestion.hidden {
  display: none;
}

.search__suggestion.show {
  display: block;
  position: absolute;
  top: 45px;
  right: -0.6em;
  width: 180%;
  padding: 0.5em 0.25em;
  border-radius: $border-radius-1;
  background: $primary-clr-trans;
}

// backdrop

.backdrop {
  position: fixed;
  inset: 0;
  top: -2em;
  height: calc(75vh);
  background: rgba(43, 41, 75, 0.479);
}

@media (max-width: 740px) {
  .search__suggestion.show {
    right: revert;
    width: 100%;
  }
}
