@use "../../sass/index" as *;

.search {
  position: relative;
  background: $primary-clr;
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  color: $font-clr;
  &:hover,
  &:focus {
    outline: red;
    border: 1px solid red;
  }
}

.search-container {
  display: flex;
  align-self: center;
  gap: 0.2em;
}

.search-input {
  padding-inline: 0.5em;
  background: transparent;
  border: none;
  color: $font-clr;
  &:focus {
    outline: none;
  }
}

.search-icon {
  translate: 0 2px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.search__input__sub-btn {
  background: none;
  border: none;
}

.search__suggestion {
  position: absolute;
  top: 45px;
  right: -0.6em;
  width: 180%;
  padding: 0.5em 0.25em;
  border-radius: $border-radius-1;
  background: $primary-clr-trans;
}
