// @use "../../sass/variables" as v;
@use "../../sass/index" as *;

.store-hero {
  position: relative;
  padding-block: 8px;
  padding-inline: $app-padding-xs;
  margin-block-end: 40px;
}

.store-hero__hero {
  background-color: rgb(43, 46, 46);
}

.store-hero__container {
  width: 100%;
  height: $hero-height;
  object-fit: cover;
  transition: height 1s ease;
}

.store-hero__bg-img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  //   display: none;
}

.store-hero__search {
  position: relative;
  top: 250px;
  max-width: 350px;
  margin: auto;
  transition: top 1s ease;
}

.store-hero__scroll-down-btn {
  position: absolute;
  top: 5em;
  right: 5em;
  transition: all 1s ease;
  &:hover::after {
    content: "click to scroll down";
    color: rgba(0, 0, 0, 0.358);
    display: block;
    width: max-content;
    position: absolute;
    top: 150%;
    left: 50%;
    translate: -50% -50%;
  }
}

.scroll-down-icon {
  color: rgba(0, 0, 0, 0.358);
  transition: scale 1s ease;

  &:hover {
    scale: 1.2;
  }
}

@media (max-width: 500px) {
  .store-hero__container {
    height: $hero-height-mobile;
  }
  .store-hero__search {
    top: 30px;
  }
  .store-hero__scroll-down-btn {
    top: 8em;
    right: 4em;
  }
}
