@use "../../sass/index" as *;

.store-header {
  translate: 0 30px;
  max-width: $app-width;
  border-radius: $border-radius-1;
  margin: auto;
}

.store-header__panel {
  background-color: $primary-clr-trans;
  border-radius: $border-radius-1;
  padding: 0.5em;
}

.store-header__panel__tabs {
  font-size: $font-xs;
  display: flex;
  gap: 1.5em;
}

.store-header__panel__tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-header__search {
  display: flex;
  justify-content: space-between;
  width: 300px;
  transition: width 1s ease;
}

@media (max-width: 740px) {
  .store-header {
    translate: 0 20px;
  }
  .store-header__panel {
    display: flex;
    gap: 0.5em;
  }
  .store-header__panel__tabs-container {
    flex-direction: column-reverse;
    align-items: revert;
    // gap: 2px;
    justify-content: space-between;
    flex: 1;
  }

  .store-header__panel__tabs {
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
  }
}

@media (max-width: 500px) {
  .store-header__search {
    width: revert;
    flex: 1;
  }
  .store-header__panel {
    align-items: center;
  }
}
