@use "../../sass/index" as *;

.store-header {
  translate: 0 30px;
  margin: auto;
  max-width: $app-width;
  border-radius: 2px;
}

.store-header__cart-status {
  display: flex;
  width: min-content;
  margin-left: auto;
  margin-block-end: 0.5em;
}

.store-header__cart-status__cart {
  min-width: 4em;
  text-align: center;
  background-color: $accent-clr;
  margin-inline-end: 0.5em;
}

.cart-icon {
  translate: 0 4px;
}

.store-header__cart-status__wishlist {
  background-color: $primary-clr-light;
  color: invert($color: $font-clr);
  padding-inline: 0.5em;
  font-size: $font-xs;
}

.store-header__panel {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: $primary-clr-trans;
}

.store-header__panel__tabs {
  display: flex;
}
