@use "../../sass/index" as *;

.store-header {
  translate: 0 30px;
  max-width: $app-width;
  border-radius: 2px;
  margin: auto;
}

.store-header__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: $primary-clr-trans;
}

.store-header__panel__tabs {
  font-size: $font-xs;
  display: flex;
  gap: 1.5em;
}

.store-header__search {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

@media (max-width: 740px) {
  .store-header {
    translate: 0 20px;
  }
  .store-header__panel {
    flex-direction: column-reverse;
  }
  .store-header__search {
    width: 350px;
  }
  .store-header__panel__tabs {
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
  }
}
