@use "./variables" as *;

// mixins

@mixin app-width {
  max-width: $app-width;
  margin: auto;
}

@mixin app-position-center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

// utils

.grp_title {
  @include app-width;
  margin-block: 1em;
  padding-inline: $app-padding-xs;
}

.grp_title h1 {
  font-size: $font-sm;
  font-weight: 300;
  padding: 0;
}

.app-container {
  @include app-width;
}

// Font size

$font-sizes: (
  "ss": 10px,
  "xxxs": 11px,
  "xxs": 12px,
  "xs": 14px,
  "sm": 16px,
  "md": 18px,
  "lg": 20px,
  "xl": 24px,
  "xxl": 26px,
);

@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: $value;
  }
}

// Margin

$layout-sizes: (
  "none": 0,
  "xs": 4px,
  "sm": 8px,
  "md": 16px,
  "lg": 24px,
  "xl": 32px,
);

@each $size, $value in $layout-sizes {
  .m-#{$size} {
    margin: $value;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }
}

// Padding

@each $size, $value in $layout-sizes {
  .p-#{$size} {
    padding: $value;
  }

  .pt-#{$size} {
    padding-top: $value;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }
}

// border

$layout-border-radius: (
  "2": 2px,
  "4": 4px,
  "6": 6px,
  "8": 8px,
  "10": 10px,
);

@each $border, $value in $layout-border-radius {
  .br-#{$border} {
    border-radius: $value;
  }
}

// Flex

.app-flex {
  display: flex;
}

.app-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-theme-bg {
  background-image: linear-gradient(to right, $accent-clr, $accent-clr-dark);
}
