$app-width: 1020px;
$app-padding: 2em;
$app-padding-sm: 1em;
$app-padding-xs: 0.5em;
$header-height: 100px;
$footer-height: 60px;
$hero-height: 50vh;
$hero-height-mobile: 40vh;

$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 6px;
$border-radius-4: 8px;
$border-radius-5: 10px;

$primary-clr: #1b2e40;
$primary-clr-2: #003d5c;
$primary-clr-3: #006699;
$primary-clr-4: #b5d4e3;
$primary-clr-trans: #1b2e40d7;
$primary-clr-trans-2: #202e3cb8;
$primary-clr-trans-3: #0066999f;
$primary-clr-dark: hsl(200, 70%, 10%);
$primary-clr-light: #9dadef;
// $accent-clr: #e74338;
$accent-clr: #67ad06;
$accent-clr-dark: #467307;
$accent-clr-2: #e83030;
$transperant-clr: #202e3c00;

$font-xxxs: 11px;
$font-xxxs: 11px;
$font-xxs: 13px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 26px;

$font-height: 16px;
$font-height-2: 18px;
$font-height-3: 20px;

$font-clr-dark: #272727;
$font-clr: #d2d2d2;
$font-clr-accented: hsl(0, 40%, 50%);
