@use "../../sass/index" as *;

.category-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.category-carousel__item {
  position: relative;
  flex: 1;
  width: 350px;
}

.category-carousel__item-img {
  width: 100%;
  filter: brightness(70%);
}

.category-carousel__item-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: $font-md;
  letter-spacing: 4px;
  text-shadow: 0px 0px 4px #000000;
  transition: scale 1s ease;
  &:hover {
    scale: 1.1;
  }
}

// PREV NEXT

.category-carousel__prevnext {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.category-carousel__prevnext .next-btn,
.category-carousel__prevnext .prev-btn {
  padding: 0.1em 0;
  width: 100%;
}

.category-carousel__prevnext .next-icon,
.category-carousel__prevnext .prev-icon {
  width: 20px;
  height: 10px;
}

@media (max-width: 950px) {
  .category-carousel {
    justify-content: space-between;
    position: relative;
  }

  .category-carousel__items-container {
    position: absolute;
    inset: 0;
  }
  .category-carousel__item {
    width: revert;
  }

  .category-carousel__prevnext .next-btn,
  .category-carousel__prevnext .prev-btn {
    background-color: $primary-clr-2;
    &:hover {
      color: $accent-clr;
      background-color: $primary-clr-3;
    }
  }
}

@media (max-width: 500px) {
  .category-carousel__item {
    min-width: 160px;
  }
}
