@use "../../sass/index" as *;

.gametitle__list {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  background-color: $primary-clr-trans-2;
  margin-block: 0.5em;
  padding: 0.5em;
  border-left: 0.5em solid $primary-clr-3;
  border-radius: $border-radius-1;
  z-index: 2;
  cursor: pointer;
  transition: scale 0.5s ease;
  &:hover {
    background-color: $primary-clr-trans-3;
  }
}

.gametitle__list.active {
  background-color: $primary-clr-3;
}

.game-controller-icon {
  justify-self: end;
  margin-inline-end: 0.5em;
  width: 20px;
}

@media (max-width: 740px) {
  .gametitle__list {
    gap: 0.5em;
  }
}

@media (max-width: 500px) {
  .gametitle__list {
    grid-template-columns: 1fr 5fr;
    background-color: darken($color: $primary-clr-trans-3, $amount: 15);
    padding: 0.25em;
    border-radius: 0 0 $border-radius-1;
  }
}
