@use "../../sass/index" as *;

.game-card {
  position: relative;
  border: 1px solid $primary-clr-2;
  border-radius: $border-radius-2;
  height: 250px;
  transition: height 0.5s ease;
  &:hover {
    height: 250px;
  }
}

.game-card__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius-2;
  filter: brightness(90%);
}

.game-card__pic.card-hover {
  filter: brightness(50%);
}

.game-card__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0.25em;
  bottom: 0.25em;
  right: 0;
}

.game-card__title {
  font-size: $font-sm;
  text-shadow: 2px 2px 4px black;
  width: 100%;
}

.game-card__title,
.game-card__genres {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.game-card__genres {
  font-size: $font-xxxs;
  display: inline;
  line-height: 13px;
}

.game-card__add-cart,
.game-card__is-in-cart {
  font-size: $font-sm;
  position: absolute;
  top: 0.5em;
  left: 8px;
}

.game-card__add-cart {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: $font-clr;
}

.game-card__add-options button {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: 1px 1px 3px black;
  gap: 0.25em;
  margin-block: 0.5em;
  transition: scale 1s ease;
  &:hover {
    background-color: $bg-clr-black-trans;
    text-shadow: 1px 2px 5px black;
    scale: 1.1;
  }
}

.game-card__price,
.game-card__own-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: $font-sm;
  color: $font-clr;
}

.game-card__game-store-link {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.6;
  font-size: $font-sm;
  font-family: inherit;
  font-weight: lighter;
  letter-spacing: 2px;
  color: $font-clr;
  transition: scale 1s ease;
  &:hover {
    opacity: 0.8;
    scale: 1.1;
    text-shadow: 1px 2px 4px black;
  }
}
