@use "../../sass/index" as *;

.game-card {
  background-color: #4d6c6c;
}

.game-card__title {
  font-size: $font-lg;
  font-weight: 300;
}

.game-card__pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: height 0.5s ease;
  &:hover {
    height: 300px;
  }
}
