@use "../../sass/index" as *;

// .browse-games__title {
// }

.gallery {
  padding-block: 8px;
  padding-inline: 8px;
}

.gallery__columns-container {
  display: flex;
  justify-content: space-around;
  gap: 2.5em;
}

.gallery__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
