@use "../../sass/index" as *;

.game-card {
  position: relative;
  border-radius: $border-radius-2;
  height: 200px;
  transition: height 0.5s ease;
  &:hover {
    height: 250px;
  }
}

.game-card__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius-2;
  &:hover {
    filter: brightness(60%);
  }
}

.game-card__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.game-card__title {
  font-size: $font-sm;
  text-shadow: 1px 1px 3px black;
  max-width: max-content;
  //   background-color: aqua;
}

.game-card__title,
.game-card__genres {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.game-card__genres {
  font-size: $font-xxxs;
  display: inline;
}

.game-card__add {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  transition: scale 1s ease;
  &:hover {
    scale: 1.2;
    background-color: #00000030;
  }
}

.game-card__add-options {
  position: absolute;
  top: calc(8px * 4);
  left: 8px;
  display: none;
}

.game-card__add-options.show {
  display: block;
}

.game-card__add-options button {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: 1px 1px 3px black;
  gap: 0.25em;
  margin-block: 0.5em;
}

.game-card__price {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: $font-xs;
}

.game-card__game-store-link {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: scale 1s ease;
  &:hover {
    scale: 1.1;
    text-shadow: 1px 2px 4px black;
  }
}

.game-card__is-in-cart {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
