@use "../../sass/index" as *;

.gamelist__list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.gamelist__active-game {
  display: none;
}

.gamelist__active-game.active {
  display: block;
}

.gamelist__active-game__img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-left: 8px solid $primary-clr-3;
  transition: height 1s ease;
}

.gamelist__active-game__more-info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .gamelist__list {
    grid-template-columns: 1.3fr 1fr;
    position: relative;
    z-index: 1;
    height: 60vh;
  }
  .gamelist__active-game-container {
    position: absolute;
    height: 100%;
    z-index: -1;
  }
  .gamelist__active-game__img,
  .gamelist__active-game {
    height: 100%;
  }
}
