@use "../../sass/index" as *;

.gamelist__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  height: calc(100vh - 104px);
  width: 100%;
}

.gamelist__title {
  font-size: $font-md;
  color: $font-clr;
  font-weight: 300;
  background-color: #19151580;
  width: max-content;
  padding: 0.5em;
  margin-inline: 8px;
  margin-block-start: 8px;
}

.gamelist__list {
  background-color: $bg-clr-black-trans;
  height: 85vh;
  overflow-y: scroll;
  z-index: 1;
}

.gamelist__list::-webkit-scrollbar {
  width: 4px;
}

.gamelist__list::-webkit-scrollbar-thumb {
  background-color: $primary-clr-2;
}

.gamelist__active-game {
  display: none;
  height: 100%;
}

.gamelist__active-game.active {
  display: block;
  position: relative;
}

.gamelist__active-game-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gamelist__active-game__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: 0.5em solid $primary-clr-3;
}

.gamelist__active-game__more-info {
  background-color: $primary-clr-trans-2;
  display: flex;
  flex-direction: column;
  align-items: end;

  position: absolute;
  bottom: 0;
  right: 0em;
  left: 0.5em;
  padding: 0.5em;
  text-shadow: 1px 1px 3px black;
}

.gamelist__active-game__copyown {
  @include flex-center;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: $font-sm;
  text-align: center;
  margin-block-end: 0.5em;
}

.copy-number {
  @include flex-center;
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.gamelist__active-game__genres-container {
  display: flex;
  gap: 0.5em;
}

.gamelist__active-game__genres {
  letter-spacing: 4px;
  font-size: $font-lg;
  text-transform: uppercase;
}

.gamelist__active-game__store-page {
  padding-block: 0.5em;
  font-size: $font-xs;
  border-radius: $border-radius-1;
  transition: scale 0.5s ease;
  color: $font-clr;
  text-shadow: 1px 1px 3px black;
}

@media (max-width: 760px) {
  .gamelist__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .gamelist__container {
    grid-template-columns: 1fr 1fr;
  }

  .gamelist__active-game__genres-container {
    flex-direction: column;
    align-items: end;
    gap: 0.5em;
  }
}
