@use "../../sass/index" as *;

.checkout-confirm {
  position: absolute;
  @include app-position-center;
  width: 500px;
  background-color: $primary-clr-2;
  border-radius: $border-radius-1;
  padding: 2em 3em;
  margin-block-end: 1em;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.checkout-confirm__title,
.checkout-confirm__balance {
  border-bottom: 0.5px solid;
}

.checkout-confirm__balance,
.checkout-confirm__difference {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.checkout-confirm__backdrop {
  position: absolute;
  background-color: $primary-clr-trans;
  inset: 0;
  z-index: 1;
}

.checkout-confirm-btn {
  background-image: linear-gradient(to right, $accent-clr, $accent-clr-dark);
  padding: 0.5em 0.5em;
  margin-top: 1em;
  color: $font-clr;
  font-size: $font-sm;
  border-radius: $border-radius-1;
}

.checkout-confirm__low-balance-status {
  color: #e9522d;
}

.checkout-confirm__close-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  color: $font-clr;
  &:hover {
    scale: 1.1;
  }
}

@media (max-width: 740px) {
  .checkout-confirm {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .checkout-confirm {
    width: 350px;
    min-width: 300px;
  }
}
