@use "../../sass/index" as *;

.checkout h1,
.checkout h2,
.checkout h3 {
  font-weight: 300;
}

.checkout {
  padding-block: 0.5em;
}

.checkout__title {
  padding-block: 0.5em;
  font-size: clamp($font-md, 3vw, $font-xxl);
}

.checkout__balance,
.checkout__total {
  font-size: clamp($font-md, 2vw, $font-lg);
  padding: 0.5em;
}

.checkout__wishlist {
  margin-block-end: 0.5em;
  font-size: $font-xxs;
}

.checkout-price {
  min-width: 40px;
  text-align: right;
}

.checkout-status {
  font-size: $font-sm;
  width: 100%;
  background-color: $primary-clr-2;
}

.checkout-status.cart {
  background-color: $primary-clr-3;
}

.checkout-swap {
  color: #cecece;
  background-color: $primary-clr-2;
  border-radius: $border-radius-1;
  padding: 0.25em;
  min-width: 85px;
  color: $font-clr;
  &:hover {
    scale: 1.1;
  }
}

.checkout-swap.cart {
  background-color: $primary-clr-3;
}

.checkout__empty-cart-status {
  color: #a29d9d;
}

.checkout__cart {
  font-size: $font-xxs;
  bottom: 0;
  width: 100%;
}

.checkout__cart-game,
.checkout__wishlist-game {
  display: grid;
  grid-template-columns: 10fr 4fr;
  border-bottom: 0.5px solid $primary-clr-dark;
}

.checkout__cart-game {
  background-color: $primary-clr-4;
  color: rgb(29, 29, 29);
}

.checkout__pay {
  display: flex;
  justify-content: space-between;
  margin-block-start: 0.5em;
  border: 1px solid $primary-clr-2;
}

.checkout__section {
  display: flex;
  justify-content: end;
}

.checkout-btn {
  padding: 0.5em;
  margin-inline: 0.5em;
  border-radius: $border-radius-1;
  background-image: linear-gradient(to right, $accent-clr, $accent-clr-dark);
  color: $font-clr;
}

.checkout__confirm-msg {
  position: absolute;
  @include app-position-center;
  background-color: $accent-clr;
  font-size: $font-lg;
  padding: 2em;
  border-radius: $border-radius-1;
  z-index: 3;
}

@media (max-width: 400px) {
  .checkout-cart-swap {
    min-width: 60px;
  }
  .quantity-label {
    display: none;
  }
}
