@use "../../sass/index" as *;

.search-header {
  max-width: $app-width;
  border-radius: $border-radius-1;
  margin: auto;
  padding-block-end: 0.5em;
}

.search-header__panel {
  background-color: $primary-clr-2;
  border-radius: $border-radius-1;
  padding: 0 0.5em;
}

.search-header__panel__tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-header__panel__tabs {
  font-size: $font-xs;
  display: flex;
  height: 100%;
  gap: 0.5em;
}

.search-header__panel__tabs div {
  height: 100%;
  padding: 0.5em;
  border-radius: $border-radius-1;
  transition: color 1s ease;
  &:hover {
    color: $accent-clr;
    background-image: linear-gradient(
      to right,
      $primary-clr-trans,
      $transperant-clr
    );
  }
}

.search-header__search {
  display: flex;
  justify-content: space-between;
  width: 300px;
  transition: width 1s ease;
}

@media (max-width: 740px) {
  .search-header__panel {
    display: flex;
    gap: 0.25em;
    padding: 0.25em;
  }

  .search-header__panel__tabs-container {
    flex-direction: column-reverse;
    align-items: revert;
    justify-content: space-between;
    gap: 0.25em;
    flex: 1;
  }

  .search-header__panel__tabs {
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
  }
}

@media (max-width: 500px) {
  .search-header__search {
    width: 100%;
  }
}
