@use "../../sass/index" as *;

.search-suggestion {
  display: flex;
  gap: 0.5em;
  padding: 0.2em 0.5em;
  border-top: 1px solid $primary-clr-trans-2;
  border-radius: $border-radius-1;
  width: 100%;
  &:hover {
    background: $primary-clr-trans-3;
  }
}

.game-bg-img {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

.game-title {
  font-size: inherit;
  font-weight: 300;
}
