@use "../../sass/index" as *;

.search-header {
  max-width: $app-width;
  border-radius: $border-radius-1;
  margin: auto;
  padding-block-end: 0.5em;
}

.search-header__panel {
  background-color: $primary-clr-2;
  border-radius: $border-radius-1;
  // padding: 0 0.5em;
}

.search-header__panel__tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px;
}

.search-header__panel__tabs {
  font-size: $font-xs;
  display: flex;
}

.search-header__panel__tabs .tab {
  width: max-content;
  padding-block: 0.8em;
  padding-inline: 0.8em;
  border-radius: $border-radius-1;
  &:hover {
    color: $font-clr-dark;
    background-image: linear-gradient(
      to right,
      $primary-clr-4,
      $transperant-clr
    );
  }
}

.search-header__search {
  display: flex;
  justify-content: space-between;
  width: 300px;
  transition: width 1s ease;
}

@media (max-width: 740px) {
  .search-header__panel {
    display: flex;
    gap: 0.25em;
    padding: 0.5em;
  }

  .search-header__panel__tabs-container {
    flex-direction: column-reverse;
    align-items: revert;
    justify-content: space-between;
    gap: 0.5em;
    flex: 1;
  }

  .search-header__panel__tabs {
    flex-wrap: wrap;
  }

  .search-header__panel__tabs .tab {
    padding: 0.2em 0.8em;
    padding-left: 0;
    letter-spacing: 1px;
  }
}

@media (max-width: 500px) {
  .search-header__search {
    width: 100%;
  }
}
