@use "../../sass/index" as *;

.search {
  position: relative;
  // background: $primary-clr;
  background: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius-1;
  color: $font-clr;
  width: 100%;
  &:hover,
  &:focus {
    outline: red;
    border: 1px solid red;
  }
}

.search-container {
  display: flex;
  align-self: center;
  background: #ffffff31;
  border: 1px solid $primary-clr;
  border-radius: $border-radius-1;
  gap: 0.2em;
}

.search-input {
  background: transparent;
  border: none;
  color: $font-clr-dark;
  width: 100%;
  padding: 0.5em;
  &:focus {
    outline: none;
  }
}

.search-icon {
  color: $primary-clr-2;
  translate: 0 2px;
  opacity: 0.5;
  transition: opacity 1s ease;
  &:hover {
    opacity: 1;
  }
}

.search__input__sub-btn {
  background: none;
  border: none;
}

.search__suggestion.hidden {
  display: none;
}

.search__suggestion.show {
  display: block;
  position: absolute;
  top: 45px;
  right: -0.6em;
  width: 180%;
  border-radius: $border-radius-1;
  background: $primary-clr-trans;
  z-index: 3;
}

.search-suggestion__close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: $primary-clr-2;
  font-size: $font-xs;
  padding: 0.25em 0.5em;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: color 1s ease;

  &:hover {
    color: $accent-clr;
  }
}

// backdrop

.backdrop {
  position: fixed;
  inset: 0;
  top: -2em;
  height: calc(75vh);
  background: rgba(43, 41, 75, 0.479);
}

@media (max-width: 740px) {
  .search__suggestion.show {
    right: revert;
    width: 130%;
  }
}

@media (max-width: 500px) {
  .search__suggestion.show {
    width: 100%;
  }
}
