@use "../../sass/index" as *;

.carousel-thumbs_thumb {
  width: 25px;
  height: 15px;
  background-color: $primary-clr-3;
  margin-inline: 3px;
  opacity: 0.6;
  border-radius: $border-radius-1;
  &:hover {
    scale: 1.1;
    background-color: darken($primary-clr-light, 10%);
  }
}

.carousel-thumbs_thumb.active {
  background-color: $primary-clr-light;
}
