@use "../../sass/index" as *;

.carousel-thumbs_thumb {
  width: 20px;
  height: 10px;
  background-color: $primary-clr-3;
  margin-inline: 2px;
  opacity: 0.6;
  border-radius: $border-radius-1;
  &:hover {
    scale: 1.1;
  }
}

.carousel-thumbs_thumb.active {
  background-color: $primary-clr-light;
}
