@use "../../sass/index" as *;

.recommendation-card_bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius-1;
}

.recommendation-card_bg-img {
  width: 580px;
  transition: width 1s ease;
}

.recommendation-card_game-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px;
  overflow: hidden;
}

.rg-game-title {
  font-size: $font-xxl;
  font-weight: 300;
  margin-block-end: 0.4em;
}

.rg-released-date {
  font-size: $font-xxs;
  font-weight: 300;
}

.rg-sreenshots-container {
  display: grid;
  gap: 8px;
  grid: 1fr 1fr / 1fr 1fr;
  max-height: auto;
  transition: opacity 1s ease-in-out;
}

.rg-screenshots {
  width: 160px;
  height: 68px;
  object-fit: cover;
  filter: brightness(0.7);
}

.rg-genres {
  padding-inline-end: 4px;
}

@media (max-width: 950px) {
  .rg-sreenshots-container {
    opacity: 0;
    max-height: 0;
    width: 0;
  }

  .rg-screenshots {
    max-height: 0;
    width: 0;
  }
}

@media (max-width: 740px) {
  .recommendation-card_game-details {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .recommendation-card_bg-img {
    width: 100%;
  }
  .recommendation-card_game-details {
    position: absolute;
    bottom: 0.5em;
    margin: revert;
    width: 100%;
    background-color: $primary-clr-trans;
    border-radius: $border-radius-1;
    padding: 0.5em 1em;
  }
  .rg-game-title {
    margin-block-end: 0.2em;
  }
}
