@use "../../sass/index" as *;

.recommendation-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 8px;
  align-items: center;
  height: 550px;
}

.recommendation-card__bg-img {
  height: 500px;
  transition: width 1s ease;
  grid-row-start: span 3;
}

.recommendation-card__bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius-1;
}

.recommendation-card__game-details {
  position: relative;
  width: 100%;
  justify-self: center;
  grid-row: span 3;
}

.rg__game-title {
  font-weight: 300;
  margin-block-end: 0.4em;
  transition: color 1s ease;
  &:hover {
    color: $primary-clr-4;
  }
}

.rg__released-date {
  font-size: $font-xxs;
  font-weight: 300;
}

.rg__sreenshots-container {
  display: grid;
  gap: 8px;
  grid: 1fr 1fr / 1fr 1fr;
  max-height: auto;
  transition: opacity 1s ease-in-out;
}

.rg__screenshots {
  width: 100%;
  height: 100px;
  object-fit: cover;
  filter: brightness(0.7);
}

.rg__genres {
  padding-inline-end: 4px;
}

.rg__store-page-link-btn {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  color: inherit;
  background-color: $primary-clr-2;
  padding: 0.125em 0.25em;
  border-radius: $border-radius-1;
  transition: color 1s ease;
  &:hover {
    color: $accent-clr;
  }
}

@media (max-width: 950px) {
  .rg__sreenshots-container {
    opacity: 0;
    max-height: 0;
    width: 0;
  }

  .rg__screenshots {
    max-height: 0;
    width: 0;
  }

  .rg__store-page-link-btn {
    inset: revert;
    bottom: 0.25em;
  }
}

// @media (max-width: 740px) {
//   .recommendation-card__game-details {
//     width: 400px;
//   }
// }

@media (max-width: 500px) {
  .recommendation-card {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .recommendation-card__game-details {
    position: absolute;
    bottom: 0.5em;
    margin: revert;
    width: 100%;
    background-color: $primary-clr-trans;
    border-radius: $border-radius-1;
    padding: 0.5em 1em;
  }
  .rg__game-title {
    margin-block-end: 0.2em;
  }
  .rg__store-page-link-btn {
    inset: revert;
    right: 0.25em;
    bottom: 0.25em;
  }
}
