@use "../../sass/index" as *;

.recommendation-card {
  width: 100%;
  height: 100%;
  max-width: $app-width;
  background-color: rgb(40, 39, 56);
}

@media (max-width: 740px) {
  .recommendation-card {
    position: absolute;
    inset: 0;
  }
}
