@use "../../sass/index" as *;

.recommendation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  background-color: $primary-clr-3;
  padding-block: 8px;
  position: relative;
  padding-inline: $app-padding-xs;
}

// recommendation card

.recommendation__card-container {
  width: 100%;
  background-color: $primary-clr-dark;
  border-radius: $border-radius-1;
  box-shadow: 0 0 5px #050532;
}

// carousel thumbs

.recommendation__carousel-thumbs {
  display: flex;
  justify-content: center;
  margin-block: 1em;
}

.recommendation .prev-btn {
  position: absolute;
  left: 16px;
}

.recommendation .next-btn {
  position: absolute;
  right: 16px;
}

.recommendation .prev-btn,
.recommendation .next-btn {
  transition: scale 1s ease;
  &:hover {
    scale: 1.1;
  }
}
