.header {
  background: #171a21;
  display: flex;
  justify-content: center;
}

.header-container {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  align-items: center;
  height: 6.5em;
  max-width: 1080px;
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.navbar a {
  text-decoration: none;
  margin: 0.5em;
  letter-spacing: 0.1em;
  color: var(--fnt-clr-1);
}

.profile {
  display: flex;
  justify-content: right;
}
