@use "../sass/index" as *;

a,
li {
  text-decoration: none;
  color: $font-clr;
  list-style: none;
}

.header {
  padding-inline: $app-padding-xs;
  // height: $header-height;
  background: $primary-clr-dark;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  position: relative;
  max-width: $app-width;
  padding-block: calc($header-height * 0.3);
  margin: auto;
}

.site-icon {
  width: 25px;
}

.site-title {
  display: flex;
  gap: 0.2em;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: max-content;
  z-index: 1;
}

.navbar {
  display: flex;
  font-size: 14px;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  margin: 0.5em;
  letter-spacing: 0.1em;
  color: $font-clr;
  &:hover {
    color: $font-clr-accented;
  }
}

.navbar__list {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  justify-content: right;
  font-size: $font-xxs;
  gap: 1em;
  position: absolute;
  inset: 0;
  top: 0.5em;
  z-index: 0;
}

.user_name {
  text-align: end;
}

.user_wallet {
  color: rgb(10, 150, 8);
}

.user__notification-icon {
  translate: 0 0.25em;
}

.user__profile-pic {
  margin-top: 0.7em;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 1px solid;
  border-radius: $border-radius-1;
}

.menu-btn {
  display: grid;
  place-content: center;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  width: 35px;
  height: 35px;
  border-radius: $border-radius-1;
  border: 1px solid;
  transition: border 1s ease-in-out, color 1s;
  &:hover {
    border: 1px solid $accent-clr;
    color: $accent-clr;
  }
}

.menu-btn-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 740px) {
  .header-container {
    padding-block: calc($header-height * 0.25);
  }

  .site-title {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
  }
  .user {
    position: revert;
    gap: 0.5em;
    inset: revert;
    right: 0;
  }
}

.chevron-down-btn {
  background: transparent;
  border: none;
  color: $font-clr;
}

// .chevron-down-icon {

// }

@media (max-width: 500px) {
  .user__notification-icon,
  .user_name {
    display: none;
  }

  .user {
    align-items: center;
  }
}
