@use "../sass/index" as *;

.header {
  background: #171a21;
  display: flex;
  justify-content: center;
  padding-inline: $app-padding;
  height: $header-height;
}

.header-container {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  align-items: center;
  max-width: $app-width;
  // background-color: rgb(60, 89, 89);
}

.site-icon {
  width: 25px;
  translate: 0 6px;
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: max-content;
}

.navbar {
  font-size: 14px;
}

.navbar a {
  text-decoration: none;
  margin: 0.5em;
  letter-spacing: 0.1em;
  color: var(--fnt-clr-1);
}

.navbar__list {
  display: flex;
  align-items: center;
}

.profile {
  // display: none;
  display: flex;
  justify-content: right;
}
