@use "../sass/index" as *;

// HEADER

a,
li {
  text-decoration: none;
  color: $font-clr;
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  height: $header-height;
  background: $primary-clr-dark;
  padding-inline: $app-padding-xs;
  // color: $font-clr-dark;
}

.header__container {
  flex-basis: $app-width;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  // position: relative;
  margin: auto;
}

.header__site-pic {
  width: 25px;
}

.header__site-title {
  display: flex;
  gap: 0.2em;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: max-content;
  z-index: 1;
}

.header__menu-btn {
  display: grid;
  place-content: center;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: $border-radius-1;
  transition: scale 1s ease-in-out, color 1s;
  &:hover {
    color: $accent-clr;
    scale: 1.1;
  }

  display: none;
}

.header__navbar {
  display: flex;
  font-size: 14px;
}

.header__navbar__list {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header__navbar__list li {
  min-width: max-content;
  letter-spacing: 0.1em;
  color: $font-clr;
  transition: background-color 1s ease;
  &:hover {
    color: $primary-clr-4;
  }
}

@media (max-width: 740px) {
  .header__container {
    padding-block: calc($header-height * 0.25);
  }

  .header__site-title {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
  }

  .header__menu-btn {
    display: block;
  }

  .header__navbar {
    display: block;
    flex-direction: column;
    position: absolute;
    background-color: $primary-clr-trans;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    transition: translate 0.5s ease;
    translate: -100% 0;
  }

  .header__navbar.sidebar {
    translate: revert;
  }

  .header__navbar__list {
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding-block: 2em;
  }

  .header__navbar__list li {
    padding-block: 0.8em;
    padding-inline: 0.5em;
    width: 100%;
    &:hover {
      background-color: $primary-clr-4;
      color: $font-clr-dark;
    }
  }
}

.header__close-btn {
  display: flex;
  padding: 2px;
  color: $font-clr;
  margin-left: auto;
  margin-inline-end: 0.5em;
  border: 1px solid;
  border-radius: 50%;
  transition: scale 1s ease;
  &:hover {
    scale: 1.1;
  }
}

.header .app-back-drop {
  z-index: 2;
}

// MAIN BODY

.main-body {
  position: relative;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

// FOOTER

.footer {
  height: $footer-height;
  background: $primary-clr-dark;
}
