@use "../sass/index" as *;

// HEADER

a,
li {
  text-decoration: none;
  color: $font-clr;
  list-style: none;
}

.header {
  // height: $header-height;
  background: $primary-clr-dark;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  max-width: $app-width;
  margin: auto;
  padding-inline: $app-padding-xs;
  padding-block: calc($header-height * 0.3);
}

.site-icon {
  width: 25px;
}

.site-title {
  display: flex;
  gap: 0.2em;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: max-content;
  z-index: 1;
}

.navbar {
  display: flex;
  font-size: 14px;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  margin: 0.5em;
  letter-spacing: 0.1em;
  color: $font-clr;
  &:hover {
    color: $accent-clr;
  }
}

.navbar__list {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  justify-content: right;
  font-size: $font-xxs;
  gap: 0.5em;
  // position: absolute;
  // inset: 0;
  // top: $app-padding-xs;
  // right: $app-padding-xs;
  z-index: 0;
}

.user_name {
  text-align: end;
}

.user_wallet {
  color: #15ce12;
}

.user__profile-pic {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.menu-btn {
  display: grid;
  place-content: center;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: $border-radius-1;
  transition: border 1s ease-in-out, color 1s;
  &:hover {
    border: 1px solid $accent-clr;
    color: $accent-clr;
  }
}

.menu-btn-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 740px) {
  .header-container {
    padding-block: calc($header-height * 0.25);
  }

  .site-title {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
  }
  // .user {
  //   position: revert;
  //   gap: 0.5em;
  //   inset: revert;
  //   right: 0;
  // }
}

.chevron-down-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: $font-clr;
}

@media (max-width: 500px) {
  .user__notification-icon,
  .user_name {
    display: none;
  }

  .user {
    align-items: center;
  }
}

// MAIN BODY

.main-body {
  padding-inline: 0.5em;
}

// FOOTER

.footer {
  height: $footer-height;
  background-color: $primary-clr;
}
