@use "../../sass/index" as *;

.cart-status {
  display: flex;
  gap: 0.5em;
  width: min-content;
  margin-left: auto;
  margin-block-end: 0.5em;
}

.cart-status__cart,
.cart-status__wishlist {
  font-size: $font-xxxs;
  border-radius: $border-radius-1;
  padding: 0.55em;
  text-align: center;
  min-width: 7em;
  cursor: pointer;
}

.cart-status__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, $accent-clr, $accent-clr-dark);
}

.cart-status__wishlist {
  background-color: $primary-clr-3;
}

.cart-icon {
  font-size: $font-xxs;
}

.wishlist_count {
  display: inline-block;
  margin-right: 0.25em;
}

@media (max-width: 740px) {
  .cart-status {
    flex-direction: column;
    justify-content: space-between;
    // gap: 0.5em;
    margin-block-end: revert;
    width: revert;
  }

  .cart-status__cart,
  .cart-status__wishlist {
    padding-block: 0.85em;
  }
}
