@use "../../sass/index" as *;

.scrollerY__options-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-block-end: 0.5em;
}

.scrollerY__options > button {
  display: inline-block;
  padding-inline: 0.5em;
  font-size: $font-xs;
  text-transform: uppercase;
  color: $font-clr;
}

.scrollerY__option {
  transition: color 1s ease;
  &::after {
    content: "";
    display: block;
    background-color: $primary-clr-4;
    height: 4px;
    width: 0%;
    transition: width 1s ease;
  }
}

.scrollerY__option.active {
  color: $primary-clr-4;
  &::after {
    width: 100%;
  }
}

.scrollerY__options-container::-webkit-scrollbar {
  height: 8px;
}

.scrollerY__options-container::-webkit-scrollbar-track {
  margin: 0.5em;
}

.scrollerY__options-container::-webkit-scrollbar-thumb {
  background-color: $primary-clr-3;
}
